@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=JetBrains+Mono%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800&family=Rubik%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-V_J1iFUHE: #6522b9;
  --plasmic-token-purple: var(--token-V_J1iFUHE);
  --token-hkFPzqtVU: #f19f3f;
  --plasmic-token-orange: var(--token-hkFPzqtVU);
  --token-F8Rh8ISxs: #181818;
  --plasmic-token-dark-background: var(--token-F8Rh8ISxs);
  --token-ql2eQhUxe: #222222;
  --plasmic-token-dark-grey: var(--token-ql2eQhUxe);
  --token-7kDr1ciHD: #4286d5;
  --plasmic-token-blue: var(--token-7kDr1ciHD);
  --token-wOQDIUAYa: #f8f8f8;
  --plasmic-token-text-color: var(--token-wOQDIUAYa);
}

.plasmic_default_styles {
  --mixin-fhFQZQz7q7ZK_font-family: "Inter";
  --mixin-fhFQZQz7q7ZK_font-size: 16px;
  --mixin-fhFQZQz7q7ZK_font-weight: 400;
  --mixin-fhFQZQz7q7ZK_font-style: normal;
  --mixin-fhFQZQz7q7ZK_color: #535353;
  --mixin-fhFQZQz7q7ZK_text-align: left;
  --mixin-fhFQZQz7q7ZK_text-transform: none;
  --mixin-fhFQZQz7q7ZK_line-height: 1.5;
  --mixin-fhFQZQz7q7ZK_letter-spacing: normal;
  --mixin-fhFQZQz7q7ZK_white-space: pre-wrap;
  --mixin-fhFQZQz7q7ZK_user-select: text;
  --mixin-fhFQZQz7q7ZK_text-decoration-line: none;
  --mixin-fhFQZQz7q7ZK_text-overflow: clip;
  --mixin-mWZi88EurPp0_color: #000000;
  --mixin-mWZi88EurPp0_font-weight: 900;
  --mixin-mWZi88EurPp0_font-size: 72px;
  --mixin-mWZi88EurPp0_line-height: 1;
  --mixin-mWZi88EurPp0_letter-spacing: -4px;
  --mixin-mWZi88EurPp0_white-space: pre-wrap;
  --mixin-n03sxTqEoFxr_font-family: "Inter";
  --mixin-n03sxTqEoFxr_color: #000000;
  --mixin-n03sxTqEoFxr_font-size: 48px;
  --mixin-n03sxTqEoFxr_font-weight: 700;
  --mixin-n03sxTqEoFxr_letter-spacing: -1px;
  --mixin-n03sxTqEoFxr_line-height: 1.1;
  --mixin-n03sxTqEoFxr_white-space: pre-wrap;
  --mixin-rl1zUNWOSilk_color: #0070f3;
  --mixin-rl1zUNWOSilk_white-space: pre-wrap;
  --mixin-3GrrHrKeTWqp_font-family: "Inter";
  --mixin-3GrrHrKeTWqp_color: #000000;
  --mixin-3GrrHrKeTWqp_font-size: 32px;
  --mixin-3GrrHrKeTWqp_font-weight: 600;
  --mixin-3GrrHrKeTWqp_letter-spacing: -0.8px;
  --mixin-3GrrHrKeTWqp_line-height: 1.2;
  --mixin-3GrrHrKeTWqp_white-space: pre-wrap;
  --mixin-kIOSxoxJ_D0d_font-family: "Inter";
  --mixin-kIOSxoxJ_D0d_color: #000000;
  --mixin-kIOSxoxJ_D0d_font-size: 24px;
  --mixin-kIOSxoxJ_D0d_font-weight: 600;
  --mixin-kIOSxoxJ_D0d_letter-spacing: -0.5px;
  --mixin-kIOSxoxJ_D0d_line-height: 1.3;
  --mixin-kIOSxoxJ_D0d_white-space: pre-wrap;
  --mixin-i1wvXYOhYmfj_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-i1wvXYOhYmfj_border-bottom-color: #dddddd;
  --mixin-i1wvXYOhYmfj_border-bottom-style: solid;
  --mixin-i1wvXYOhYmfj_border-bottom-width: 1px;
  --mixin-i1wvXYOhYmfj_border-left-color: #dddddd;
  --mixin-i1wvXYOhYmfj_border-left-style: solid;
  --mixin-i1wvXYOhYmfj_border-left-width: 1px;
  --mixin-i1wvXYOhYmfj_border-right-color: #dddddd;
  --mixin-i1wvXYOhYmfj_border-right-style: solid;
  --mixin-i1wvXYOhYmfj_border-right-width: 1px;
  --mixin-i1wvXYOhYmfj_border-top-color: #dddddd;
  --mixin-i1wvXYOhYmfj_border-top-style: solid;
  --mixin-i1wvXYOhYmfj_border-top-width: 1px;
  --mixin-i1wvXYOhYmfj_border-bottom-left-radius: 3px;
  --mixin-i1wvXYOhYmfj_border-bottom-right-radius: 3px;
  --mixin-i1wvXYOhYmfj_border-top-left-radius: 3px;
  --mixin-i1wvXYOhYmfj_border-top-right-radius: 3px;
  --mixin-i1wvXYOhYmfj_font-family: "Inconsolata";
  --mixin-i1wvXYOhYmfj_padding-bottom: 1px;
  --mixin-i1wvXYOhYmfj_padding-left: 4px;
  --mixin-i1wvXYOhYmfj_padding-right: 4px;
  --mixin-i1wvXYOhYmfj_padding-top: 1px;
  --mixin-i1wvXYOhYmfj_white-space: pre-wrap;
  --mixin-n4tNctnrhaoe_border-left-color: #dddddd;
  --mixin-n4tNctnrhaoe_border-left-style: solid;
  --mixin-n4tNctnrhaoe_border-left-width: 3px;
  --mixin-n4tNctnrhaoe_color: #888888;
  --mixin-n4tNctnrhaoe_padding-left: 10px;
  --mixin-n4tNctnrhaoe_white-space: pre-wrap;
  --mixin-vnj7SPoiHFIj_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-vnj7SPoiHFIj_border-bottom-color: #dddddd;
  --mixin-vnj7SPoiHFIj_border-bottom-style: solid;
  --mixin-vnj7SPoiHFIj_border-bottom-width: 1px;
  --mixin-vnj7SPoiHFIj_border-left-color: #dddddd;
  --mixin-vnj7SPoiHFIj_border-left-style: solid;
  --mixin-vnj7SPoiHFIj_border-left-width: 1px;
  --mixin-vnj7SPoiHFIj_border-right-color: #dddddd;
  --mixin-vnj7SPoiHFIj_border-right-style: solid;
  --mixin-vnj7SPoiHFIj_border-right-width: 1px;
  --mixin-vnj7SPoiHFIj_border-top-color: #dddddd;
  --mixin-vnj7SPoiHFIj_border-top-style: solid;
  --mixin-vnj7SPoiHFIj_border-top-width: 1px;
  --mixin-vnj7SPoiHFIj_border-bottom-left-radius: 3px;
  --mixin-vnj7SPoiHFIj_border-bottom-right-radius: 3px;
  --mixin-vnj7SPoiHFIj_border-top-left-radius: 3px;
  --mixin-vnj7SPoiHFIj_border-top-right-radius: 3px;
  --mixin-vnj7SPoiHFIj_font-family: "Inconsolata";
  --mixin-vnj7SPoiHFIj_padding-bottom: 3px;
  --mixin-vnj7SPoiHFIj_padding-left: 6px;
  --mixin-vnj7SPoiHFIj_padding-right: 6px;
  --mixin-vnj7SPoiHFIj_padding-top: 3px;
  --mixin-vnj7SPoiHFIj_white-space: pre-wrap;
  --mixin-Cr_6mEy4TfJY_display: flex;
  --mixin-Cr_6mEy4TfJY_flex-direction: column;
  --mixin-Cr_6mEy4TfJY_align-items: stretch;
  --mixin-Cr_6mEy4TfJY_justify-content: flex-start;
  --mixin-Cr_6mEy4TfJY_list-style-position: outside;
  --mixin-Cr_6mEy4TfJY_padding-left: 40px;
  --mixin-Cr_6mEy4TfJY_position: relative;
  --mixin-Cr_6mEy4TfJY_list-style-type: disc;
  --mixin-Cr_6mEy4TfJY_white-space: pre-wrap;
  --mixin-JbP88UFdaRBLp_display: flex;
  --mixin-JbP88UFdaRBLp_flex-direction: column;
  --mixin-JbP88UFdaRBLp_align-items: stretch;
  --mixin-JbP88UFdaRBLp_justify-content: flex-start;
  --mixin-JbP88UFdaRBLp_list-style-position: outside;
  --mixin-JbP88UFdaRBLp_padding-left: 40px;
  --mixin-JbP88UFdaRBLp_position: relative;
  --mixin-JbP88UFdaRBLp_list-style-type: decimal;
  --mixin-JbP88UFdaRBLp_white-space: pre-wrap;
  --mixin-DETbUFAqhUAd5_font-family: "Inter";
  --mixin-DETbUFAqhUAd5_color: #000000;
  --mixin-DETbUFAqhUAd5_font-size: 20px;
  --mixin-DETbUFAqhUAd5_font-weight: 600;
  --mixin-DETbUFAqhUAd5_letter-spacing: -0.3px;
  --mixin-DETbUFAqhUAd5_line-height: 1.5;
  --mixin-DETbUFAqhUAd5_white-space: pre-wrap;
  --mixin-6bJxqoUjBMOg2_font-family: "Inter";
  --mixin-6bJxqoUjBMOg2_color: #000000;
  --mixin-6bJxqoUjBMOg2_font-size: 16px;
  --mixin-6bJxqoUjBMOg2_font-weight: 600;
  --mixin-6bJxqoUjBMOg2_line-height: 1.5;
  --mixin-6bJxqoUjBMOg2_white-space: pre-wrap;
  --mixin--_fhRYjt9Liox_color: #3291ff;
  --mixin--_fhRYjt9Liox_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-fhFQZQz7q7ZK_font-family);
  font-size: var(--mixin-fhFQZQz7q7ZK_font-size);
  font-weight: var(--mixin-fhFQZQz7q7ZK_font-weight);
  font-style: var(--mixin-fhFQZQz7q7ZK_font-style);
  color: var(--mixin-fhFQZQz7q7ZK_color);
  text-align: var(--mixin-fhFQZQz7q7ZK_text-align);
  text-transform: var(--mixin-fhFQZQz7q7ZK_text-transform);
  line-height: var(--mixin-fhFQZQz7q7ZK_line-height);
  letter-spacing: var(--mixin-fhFQZQz7q7ZK_letter-spacing);
  white-space: var(--mixin-fhFQZQz7q7ZK_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset .__wab_expr_html_text h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-mWZi88EurPp0_color);
  font-weight: var(--mixin-mWZi88EurPp0_font-weight);
  font-size: var(--mixin-mWZi88EurPp0_font-size);
  line-height: var(--mixin-mWZi88EurPp0_line-height);
  letter-spacing: var(--mixin-mWZi88EurPp0_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset .__wab_expr_html_text h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-n03sxTqEoFxr_font-family);
  color: var(--mixin-n03sxTqEoFxr_color);
  font-size: var(--mixin-n03sxTqEoFxr_font-size);
  font-weight: var(--mixin-n03sxTqEoFxr_font-weight);
  letter-spacing: var(--mixin-n03sxTqEoFxr_letter-spacing);
  line-height: var(--mixin-n03sxTqEoFxr_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset .__wab_expr_html_text a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-rl1zUNWOSilk_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset .__wab_expr_html_text h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-3GrrHrKeTWqp_font-family);
  color: var(--mixin-3GrrHrKeTWqp_color);
  font-size: var(--mixin-3GrrHrKeTWqp_font-size);
  font-weight: var(--mixin-3GrrHrKeTWqp_font-weight);
  letter-spacing: var(--mixin-3GrrHrKeTWqp_letter-spacing);
  line-height: var(--mixin-3GrrHrKeTWqp_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset .__wab_expr_html_text h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-kIOSxoxJ_D0d_font-family);
  color: var(--mixin-kIOSxoxJ_D0d_color);
  font-size: var(--mixin-kIOSxoxJ_D0d_font-size);
  font-weight: var(--mixin-kIOSxoxJ_D0d_font-weight);
  letter-spacing: var(--mixin-kIOSxoxJ_D0d_letter-spacing);
  line-height: var(--mixin-kIOSxoxJ_D0d_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset .__wab_expr_html_text code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-i1wvXYOhYmfj_background);
  font-family: var(--mixin-i1wvXYOhYmfj_font-family);
  border-radius: var(--mixin-i1wvXYOhYmfj_border-top-left-radius)
    var(--mixin-i1wvXYOhYmfj_border-top-right-radius)
    var(--mixin-i1wvXYOhYmfj_border-bottom-right-radius)
    var(--mixin-i1wvXYOhYmfj_border-bottom-left-radius);
  padding: var(--mixin-i1wvXYOhYmfj_padding-top)
    var(--mixin-i1wvXYOhYmfj_padding-right)
    var(--mixin-i1wvXYOhYmfj_padding-bottom)
    var(--mixin-i1wvXYOhYmfj_padding-left);
  border-top: var(--mixin-i1wvXYOhYmfj_border-top-width)
    var(--mixin-i1wvXYOhYmfj_border-top-style)
    var(--mixin-i1wvXYOhYmfj_border-top-color);
  border-right: var(--mixin-i1wvXYOhYmfj_border-right-width)
    var(--mixin-i1wvXYOhYmfj_border-right-style)
    var(--mixin-i1wvXYOhYmfj_border-right-color);
  border-bottom: var(--mixin-i1wvXYOhYmfj_border-bottom-width)
    var(--mixin-i1wvXYOhYmfj_border-bottom-style)
    var(--mixin-i1wvXYOhYmfj_border-bottom-color);
  border-left: var(--mixin-i1wvXYOhYmfj_border-left-width)
    var(--mixin-i1wvXYOhYmfj_border-left-style)
    var(--mixin-i1wvXYOhYmfj_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset .__wab_expr_html_text blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-n4tNctnrhaoe_color);
  padding-left: var(--mixin-n4tNctnrhaoe_padding-left);
  border-left: var(--mixin-n4tNctnrhaoe_border-left-width)
    var(--mixin-n4tNctnrhaoe_border-left-style)
    var(--mixin-n4tNctnrhaoe_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset .__wab_expr_html_text pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-vnj7SPoiHFIj_background);
  font-family: var(--mixin-vnj7SPoiHFIj_font-family);
  border-radius: var(--mixin-vnj7SPoiHFIj_border-top-left-radius)
    var(--mixin-vnj7SPoiHFIj_border-top-right-radius)
    var(--mixin-vnj7SPoiHFIj_border-bottom-right-radius)
    var(--mixin-vnj7SPoiHFIj_border-bottom-left-radius);
  padding: var(--mixin-vnj7SPoiHFIj_padding-top)
    var(--mixin-vnj7SPoiHFIj_padding-right)
    var(--mixin-vnj7SPoiHFIj_padding-bottom)
    var(--mixin-vnj7SPoiHFIj_padding-left);
  border-top: var(--mixin-vnj7SPoiHFIj_border-top-width)
    var(--mixin-vnj7SPoiHFIj_border-top-style)
    var(--mixin-vnj7SPoiHFIj_border-top-color);
  border-right: var(--mixin-vnj7SPoiHFIj_border-right-width)
    var(--mixin-vnj7SPoiHFIj_border-right-style)
    var(--mixin-vnj7SPoiHFIj_border-right-color);
  border-bottom: var(--mixin-vnj7SPoiHFIj_border-bottom-width)
    var(--mixin-vnj7SPoiHFIj_border-bottom-style)
    var(--mixin-vnj7SPoiHFIj_border-bottom-color);
  border-left: var(--mixin-vnj7SPoiHFIj_border-left-width)
    var(--mixin-vnj7SPoiHFIj_border-left-style)
    var(--mixin-vnj7SPoiHFIj_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset .__wab_expr_html_text ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-Cr_6mEy4TfJY_display);
  flex-direction: var(--mixin-Cr_6mEy4TfJY_flex-direction);
  align-items: var(--mixin-Cr_6mEy4TfJY_align-items);
  justify-content: var(--mixin-Cr_6mEy4TfJY_justify-content);
  list-style-position: var(--mixin-Cr_6mEy4TfJY_list-style-position);
  padding-left: var(--mixin-Cr_6mEy4TfJY_padding-left);
  position: var(--mixin-Cr_6mEy4TfJY_position);
  list-style-type: var(--mixin-Cr_6mEy4TfJY_list-style-type);
  flex-column-gap: var(--mixin-Cr_6mEy4TfJY_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset .__wab_expr_html_text ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-JbP88UFdaRBLp_display);
  flex-direction: var(--mixin-JbP88UFdaRBLp_flex-direction);
  align-items: var(--mixin-JbP88UFdaRBLp_align-items);
  justify-content: var(--mixin-JbP88UFdaRBLp_justify-content);
  list-style-position: var(--mixin-JbP88UFdaRBLp_list-style-position);
  padding-left: var(--mixin-JbP88UFdaRBLp_padding-left);
  position: var(--mixin-JbP88UFdaRBLp_position);
  list-style-type: var(--mixin-JbP88UFdaRBLp_list-style-type);
  flex-column-gap: var(--mixin-JbP88UFdaRBLp_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset .__wab_expr_html_text h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-DETbUFAqhUAd5_font-family);
  color: var(--mixin-DETbUFAqhUAd5_color);
  font-size: var(--mixin-DETbUFAqhUAd5_font-size);
  font-weight: var(--mixin-DETbUFAqhUAd5_font-weight);
  letter-spacing: var(--mixin-DETbUFAqhUAd5_letter-spacing);
  line-height: var(--mixin-DETbUFAqhUAd5_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset .__wab_expr_html_text h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-6bJxqoUjBMOg2_font-family);
  color: var(--mixin-6bJxqoUjBMOg2_color);
  font-size: var(--mixin-6bJxqoUjBMOg2_font-size);
  font-weight: var(--mixin-6bJxqoUjBMOg2_font-weight);
  line-height: var(--mixin-6bJxqoUjBMOg2_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset .__wab_expr_html_text a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin--_fhRYjt9Liox_color);
}
