.root {
  background: linear-gradient(
      112deg,
      rgba(101, 34, 184, 1) 22%,
      rgba(101, 34, 184, 0.6) 250%
    )
    0% 0% / 100% 100% no-repeat;
  width: 860px;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  border-radius: 26.345px;
  padding: 40px 90px 40px 54px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    padding-top: 20px;
    min-width: 0;
  }
}
.freeBox {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) > *,
  .freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox > :global(.__wab_flex-container) > picture > img,
  .freeBox
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.text {
  display: block;
  font-size: 28px;
  letter-spacing: 0px;
  line-height: 39.518px;
  width: 505px;
  transform: translate(0.4519999999999982px, -0.15399999999999636px);
  height: auto;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text {
    width: 100%;
    font-size: 20px;
    min-width: 0;
  }
}
.span {
  color: #060309;
}
.whiteButton {
  background: rgba(255, 255, 255, 1);
  transform: translate(0.4370000000000118px, 0.1490000000000009px);
  width: 97px;
  height: 66px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 9.22px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .whiteButton {
    left: auto;
    top: auto;
    width: 70px;
    height: 50px;
    align-self: center;
    flex-shrink: 0;
  }
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #58219d;
  transform: translate(0.07500000000004547px, 0.34600000000000364px);
  width: 38.201px;
  height: 42.811px;
  display: block;
  top: auto;
  left: auto;
  overflow: hidden;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }
}
